<!-- Source: Tailwind UI https://tailwindui.com/components/preview -->
<div class="py-12 bg-white main-wrapper flex justify-center mt-36">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">A better
        way to drink coffee</p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Yash Coffee Roasters is a full-service roastery,
        wholesaler and café operator with multiple locations across Toronto. Our coffee can be purchased directly on our
        online store, at one of our own branded cafés, through our extensive wholesale partner network across Canada, or
        in a growing number of specialty grocery stores.
        As we have grown and evolved, so too has our consumer and wholesale partner’s needs. In 2021 we released new
        sustainable and fully bilingual packaging to better align with our company values.
        Our passion for great coffee and commitment to quality remains at the heart of everything we do.</p>
    </div>
  </div>
</div>